[2011-12-24 19:55] pkorotkov opened #1 "Renaming of logger-from-config import methods"
Rename the following methods in https://github.com/cihub/sealog/blob/master/config.go
- LoggerFromFile -> LoggerFromConfigAsFile
- LoggerFromBytes -> LoggerFromConfigAsBytes
- LoggerFromWriterAndLevel -> LoggerFromWriterWithMinLevel
  along with proper refactoring throughout the project.
  Update methods' comments as well.

[2011-12-26 09:53] #1 closed

[2012-05-15 15:58] damoxc opened #2 "Errors when running without symbols"
If you strip the symbols from the resulting binary during compilation then seelog fails when trying to log with:

Seelog error: Error during runtime.Caller

[2012-05-16 18:33] #2 closed, assigned to nobody

[2012-08-28 16:26] ovidiuvisan opened #3 "replace "format string" with "v ...interface{}""
Why not to use "log" package approach http://golang.org/src/pkg/log/log.go?s=8456:8484#L276 where you can pass an interface to the logger?
Now you are using string and logger.Error(err) errors with type assertion, only logger.Error(err.Error()) would work because it's converted to string.
This is a proposal to make it better (it's very nice already).

Another thing is to be able to pass a connecti

[2012-08-29 13:37] #3 closed, assigned to nobody

[2012-08-30 11:13] ovidiuvisan opened #4 "connection reset by peer"
Hello,

(opening a separate issue for connection)

Without using reconnectonmsg="true" in client config file there is an error in seelog "connection reset by peer"

16:02:40 2012-08-29 [CRITICAL] testmessage
16:02:40 2012-08-29 [INFO] testinfomessage
Seelog error: write tcp 127.0.0.1:8525: connection reset by peer
16:02:40 2012-08-29 [CRITICAL] testmessage
16:02:40 2012-08-29 [INFO] testinfomessag

[2012-09-01 10:17] #4 closed, assigned to nobody

[2012-09-01 12:06] ovidiuvisan opened #5 "clients crash if runtime.GOMAXPROCS it's used in client code"
Hi,
Not sure if it's related to seelog or runtime package, but adding  runtime.GOMAXPROCS(runtime.NumCPU())  in func main() of client code makes the clients crash after some logging. In my case it happens when having more than 2 clients running.
You can use the same client code i gave for the previous issue to test.

Please find the error below:

14:39:17 2012-09-01 [WARN] open bla: no such file o

[2012-09-03 21:12] #5 closed, assigned to nobody

[2012-09-09 00:24] robotamer opened #6 "Seelog error: x509: certificate signed by unknown authority"
I use self signed certs in my mail server, and I get this error:
Seelog error: x509: certificate signed by unknown authority

Need a way to provide certs to the smtp / tls package

See following discussion on golang-nuts
https://groups.google.com/forum/?fromgroups=#!topic/golang-nuts/r-r3blXrl4s

[2012-10-22 02:34] ianba opened #8 "Test libraries linked with main seelog library binary"
There appear to be several files that are used for testing only (e.g. internals_byteverifiers.go), that are not named _test.go. This causes these files to be built and linked with the actual library code.

Since these files use the "testing" package, that means that any program that uses the seelog package will get the testing package linked in as well. This causes the command line flags help for

[2012-10-22 22:14] #8 closed, assigned to nobody

[2012-10-27 13:12] pkorotkov opened #13 "Change the way how PEM files are imported: Need folders instead of list of individual files"
Current implementation of the config requires to explicitly list all the X.509 CA PEM files. It's too verbose and superfluous as, in the majority of cases, such files are located in dedicated folders.

[2012-10-29 20:53] #13 closed, assigned to pkorotkov

[2012-11-07 17:39] ghost opened #18 "Standard log pkg compatibility"
Add functionality for better compatibility with the standard log package.

[2012-11-21 22:07] ghost opened #21 "Console colors"
Add attributes (and, possibly, child elements) to the <console> element so that it would inject escape sequences to perform coloring of format verbs.

[2013-02-03 17:50] #21 closed, assigned to nobody

[2013-02-03 20:01] #18 closed, assigned to nobody

[2013-02-03 20:18] #6 closed, assigned to pkorotkov

[2013-02-16 17:33] tiziano88 opened #26 "fi.Mode().IsRegular undefined on OSX 10.8.2"
/usr/local/go/src/pkg/github.com/cihub/seelog/internals_fsutils.go:208: fi.Mode().IsRegular undefined (type os.FileMode has no field or method IsRegular)

[2013-02-17 10:10] #26 closed, assigned to nobody

[2013-02-21 01:40] ovidiuvisan opened #27 "go get fails"
/usr/lib/go/src/pkg/github.com/cihub/seelog/internals_fsutils.go:208: fi.Mode().IsRegular undefined (type os.FileMode has no field or method IsRegular)

[2013-02-21 06:53] #27 closed, assigned to nobody

[2013-03-04 22:33] ovidiuvisan opened #28 "possible error on Info, Warning and Error logging."
Using the code below i get no display from logg.Info(val) but i do get some output if log.Println(val) it's added above logg.Info(val) eg.
    for _, val := range a {
                log.Println(val)
        logg.Info(val)
    }
Can you please have a look? Thanks.

package main

import (
    "github.com/cihub/seelog"
    "log"
)

func main() {
    a := [...]string{"bla1", "bla2", "bla3"}
    log.P

[2013-03-04 22:57] #28 closed, assigned to nobody

[2013-09-09 04:06] xsuii opened #37 "Question:Is that "Colored output" surport on windows' cmd terminal?"
I want to colorizing my log output on windows' cmd terminal and follow the setting here:https://github.com/cihub/seelog/wiki/Colorizing-output.
Here is my setting:

[code]

But it didn't work, and I've got output like:

[code]

So is that "Colored output" surport on windows' cmd terminal?

[2013-09-09 07:19] #37 closed, assigned to nobody

[2013-09-15 12:16] zoechi opened #38 "AppEngine compatibility"
Is seelog compatible with AppEngine-Go?
How to use seelog with AppEngine?

[2013-10-09 10:21] ghost opened #41 "Change the naming pattern of rolling files?"
If the datepattern is "2006-01-02", filename is "see.log". The rollingfile name will be seen like "2013-10-09 see.log". Could someone change the pattern to "see.log.2013-10-09" or something like this? Or more flexible patterns?

[2013-10-09 11:10] #41 closed, assigned to nobody

[2013-10-09 19:35] #38 closed, assigned to nobody

[2013-10-10 02:54] ghost opened #42 "Could anyone modify the tag go1?"
When "go get" the source code from github.com, Go 1.1.2/1.1.1 always look up the tag 'go1' first, then download the tag. But the "go1" tag of seelog is too old. Can anyone update the tag ?

[2013-10-10 04:44] #42 closed, assigned to nobody

[2013-10-19 03:59] dterei opened #43 "Add Fatalf and Panicf functions"
It'd be nice to have these give the standard log system has them and they're useful. Also, question, does the critical level force a flush? The docs claim it does but then the example code calls flush itself after a critical log level which seems unnecessary.

[2013-10-21 06:35] #43 closed, assigned to nobody

[2013-11-15 19:28] mratzloff opened #44 "Not all messages are written to log with multiple processes logging to same file"
I have a program that logs in high volume to a single log file.  If I start more than one of these, only some messages reach the log.  For example, with two processes, approximately 1/2 the messages reach the log.  With three, 2/3.  With four, 3/4.

Note that these are multiple processes, not a single process using channels.  It happens even if I flush after each message.

I suspect this is some k

[2013-11-21 10:22] #44 closed, assigned to nobody

[2013-12-28 19:39] stephanos opened #45 "go get loads wrong version"
I'm a bit confused. When I run
- `go get github.com/cihub/seelog`
- or `go get github.com/cihub/seelog`
  I end up with an old version of seelog.

I'm running `go version go1.2 darwin/amd64` - but `git branch` shows:

[code]

Do you know what I'm doing wrong?

[2014-01-15 15:15] #45 closed, assigned to nobody

[2014-01-15 17:57] teythoon opened #46 "Add a prominent warning for downstream users"
[moderated]. Reason: provocative/abusive content

[2014-01-15 20:25] #46 closed, assigned to nobody

[2014-02-05 18:50] 0x6e6562 opened #47 "Using seelog as an io.Writer"
Is there an example of where seelog implements the io.Writer interface so that it can be used to redirect output to?

[2014-02-06 14:45] #47 closed, assigned to nobody

[2014-04-02 07:31] nashtsai opened #48 "Why there is no syslog receiver"
May I suggest instead network receiver, using syslog might be more useful, and perhaps you can check on http://golang.org/pkg/log/syslog/

[2014-06-27 19:28] natefinch opened #54 "Tests fail?"
I'm not sure how this is, since drone.io is obviously passing the build, but it's not passing for me.
This is using go 1.2 on Ubuntu 14.04 Trusty Tahr
I obtained the code by doing "go get -t github.com/cihub/seelog"

[code]

[2014-07-19 09:00] guorui22 opened #55 "writers_smtpwriter.go 中有错误！！！"
line 40 ：rfc5321SubjectPattern = "From: %s <%s>\nSubject: %s\n"
应写为：rfc5321SubjectPattern = "From: %s <%s>\nSubject: %s\n\n"

否则接收方看到的邮件没有正文内容：），this tested on gmail、qq、139 。

[2014-07-20 04:12] vrecan opened #56 "Add the ability to compress files when they rotate"
Using a rolling file appender I would love it if we could also enable gzip compression on the rotated file.

[2014-07-20 17:17] #56 closed, assigned to nobody

[2014-08-04 23:37] mratzloff opened #59 "Make formatter public"
I'd like to set up a master process for aggregate logging from worker processes that send their messages using the connection writer. I also want to be able to log messages for the master process in the same log. However, short of parsing the worker messages in the master (or using some RPC scheme), I'm not sure if there's a way to do this in the library itself.

Do you see what I mean? Messages c

[2014-08-05 17:11] #59 closed, assigned to nobody

[2014-08-07 23:07] franklinwise opened #60 "Config File Full"
It would be helpful to see a full config file in one place with all of the various options.  Right now the information about the config file options are spread out across many sections.

[2014-08-08 19:54] #60 closed, assigned to nobody

[2014-08-14 06:23] neopobo opened #61 "Adaptive logger - wrong timesteamp"
I have a problem with timestamps of messages when using adaptive logger.
Then each message have a timestamp from moment when it is written to disk (should be when it has been created)
When I switch to sync type, everything is ok.

first settings with wrong timestamps:
seelog type="adaptive" mininterval="2000000" maxinterval="100000000" critmsgcount="500" minlevel="debug"

this works:
seelog type="

[2014-08-14 10:54] #61 closed, assigned to nobody

[2014-08-15 17:38] connor-prodege opened #62 "Different format based on log level"
Hi,

We are considering using seelog in our go production environment, and the library looks great!
Quick question: is it possible to configure formats based on log levels? the use case would be to include the file/line numbers for ErrLvl and above:
Trace/Debug/Info: %Date %Time [%LEVEL] %Msg%n
Error/Critical: %Date %Time [%LEVEL] %Msg %RelFile %Func %Line%n

I looked at the filters, but can't fin

[2014-08-16 00:02] #62 closed, assigned to nobody

[2014-09-04 18:28] kartlee opened #63 "Allow Permission to read the log file from different process"
With seelog, log written to file is unable to open for read from different process under Windows. We could just expand the permission to OpenFile to add FILE_SHARE_WRITE. I assume this need to be done in writers_filewriter.go.

[2014-09-16 03:08] #54 closed, assigned to nobody

[2014-10-10 23:32] jonbonazza opened #66 "retrieve writer for logger"
Forgive me if there is already a way to do this, but I can't seem to find one.

Basically, the http pacakage supports logging by providing a log.Logger instance to a Server object. You can create a new log.Logger instance with log.New() and passing in a io.Writer implementation. Is there a way to get the io.Writer implementation for a seelog.LoggingInterface?

Would this even work? Basically, I ne

[2014-10-13 21:33] #66 closed, assigned to nobody

[2014-10-28 00:32] lafriks opened #67 "Configuration loading from Decoder"
Whould be nice if seelog configuration could be loaded using xml Decoder and start element (using decoder.DecodeElement)

[2014-10-28 15:48] seefan opened #68 "output message is wrong format at windows xp and win7"
log.Infof("this is a %s ,len is %d","test",1)
at mac is ok
at windows err,write

2014 Oct 28/11:39:49.767533700 PM CST [Info] this is a [test %!s(int=1)] ,len is %!d(MISSING)

[2014-10-31 17:36] #67 closed, assigned to nobody

[2014-11-14 09:11] #68 closed, assigned to nobody

[2014-11-29 09:19] bong0 opened #71 "Seelog rollingfile filename pattern not as expected"
(Issue already on http://stackoverflow.com/questions/27179315/seelog-rollingfile-filename-pattern-not-as-expected and on https://groups.google.com/forum/#!topic/golang-nuts/Z4dRDOZRo_Y)

I have a seelog config file like

[code]

What comes out are files like /tmp/-myApp.log.142711, I expected /tmp/142711-myApp.log as it is suggested at https://github.com/cihub/seelog/wiki/Receiver-reference qoute:

[2014-12-07 14:16] #71 closed, assigned to nobody

[2015-02-11 21:48] vrecan opened #73 "seelog and systemd invalid argument error for every log message"
When running my service by hand or in windows everything works as expected. When running the service under systemd I get this error before every log message: `Seelog error: invalid argument`

unit file:
[code]

[2015-02-11 21:54] goodsign commented on #73
Could you provide the seelog config you are using?

[2015-02-11 21:55] vrecan commented on #73
seelog conf:
[code]

[2015-02-11 21:56] goodsign commented on #73
Could you please try to reproduce it using only a console outputs and comment out rollingfile-s? I'm trying to figure out whether it may have something with the file access rights.

[2015-02-11 22:03] vrecan commented on #73
Yea that seems to be it, it must not have the ability to write to the log file location. Thanks for your help, is there any way we could improve the error here so it's more obvious?

[2015-02-11 22:03] #73 closed

[2015-02-11 22:06] goodsign commented on #73
Yeah that's definitely not obvious. I think that it returns [ErrInvalid](https://golang.org/src/os/error.go) in some OS call, but I'd expect ErrPermission. I'll take a look at it tomorrow.

[2015-02-23 19:22] bong0 opened #74 "Seelog panics on parsing error in config file"
Seelog is not able to handle the following syntax error:

        <format id="nocolor-hrtime" format="%Date('02.01.2006/15:04:05' [%Lev] %FuncShort:%Msg%n"/>
with throwing an error.

    1424719067522657234 [Critical] PANIC: runtime error: slice bounds out of range
    1424719067522908091 [Debug] Stack of 1024 bytes: goroutine 16 [running]:
    github.com/bong0/project/module.skeleton.Panic()

[2015-02-24 09:29] goodsign commented on #74
Yeah, it definitely should be an error. I'll look at it.

[2015-02-26 12:08] #74 closed

[2015-02-27 05:40] fjjiaboming commented on #55
@pkorotkov   What are you waiting for ?

[2015-03-05 04:36] fjjiaboming opened #75 "[Q]Have %line format ?"
It has %Func .
Does it have %line ?

[2015-03-05 08:20] goodsign commented on #75
Yes, it does. Please check our [wiki](https://github.com/cihub/seelog/wiki/Format-reference) for such information.

[2015-03-05 08:20] #75 closed

[2015-03-06 00:51] fjjiaboming commented on #75
Thanks.

[2015-03-10 12:12] timesking commented on #55
I translate it for you.
He said you should add "\n" one more at the end of rfc5321SubjectPattern, otherwise the email receiver can't see body content. He tested it with gmail and some other Chinese email  providers like qq.com.

[2015-03-11 13:29] goodsign commented on #55
Closed by [PR 76](https://github.com/cihub/seelog/pull/76)

[2015-03-11 13:29] #55 closed

[2015-03-26 23:44] jonbonazza opened #78 "Creating a LoggingInterface using a writer and as well as rolling files"
First off, sorry if I missed this, but at the moment, we are supporting logging to console output as well as a rolling file via seelog configuration file, but what we really want to do is support rolling file as well as log to stderr.

We were able to log to stderr by creating a custom Writer implementation then creating a LoggingInterface from that, but then we loose the rolling file capabilities

[2015-03-27 07:32] goodsign commented on #78
Have you tried this [recipe](https://github.com/cihub/seelog/wiki/Custom-receivers#scenario-31-custom-receivers-without-contextwith-fixed-context)?

Here we show how to create a custom receiver and then use it inside a config with a ```<myreceiver>``` tag. You can name it ```<stderr>``` and use it in your config as well as the rolling file receiver and others.

[2015-04-10 17:47] jonbonazza commented on #78
We have managed to fix this using your suggestion. Thanks!

[2015-05-16 19:20] bong0 opened #85 "Count of emitted warnings/errors"
It would be really nice to to have seelog count the number of Log messages it got for loglevels with small throughput (warn, etc.) so that a main program can set an descriptive exit status based on that.

Currently, you have to do that by yourself incrementing a variable each time you call log.Warn which is not that elegant...

[2015-05-19 19:51] goodsign commented on #85
Hi bong0!

I'll think about the implementation

[2015-05-20 07:01] bong0 commented on #85
@goodsign :+1: thank you!

[2015-05-20 21:28] bong0 commented on #85
@goodsign this is also good for testing, since e.g. goroutines that just output log Warnings cannot be easily observed when you want to test them for bad input handling. With an incrementing counter you could compare those before and after a call.

[2015-05-21 10:08] timesking opened #86 "gorouine leak when ReplaceLogger"
Hi,

I just found `asnLoopLogger.closed` had never been set as `true`.
When I try to ReplaceLogger in runtime with new config each time, one more gorouine stuck in func processItem at `asnLoopLogger.queueHasElements.Wait()`. That introduce a gorouine dead wait.

Could you take a look and fix it?

[code]

[2015-05-21 10:33] goodsign commented on #86
Hi timesking,

Could you please attach a full working example which reproduces this issue.

Thanks!

[2015-05-21 10:38] timesking commented on #86
I will do it later.

[2015-05-21 11:30] goodsign commented on #86
Actually, I guess I know what the problem is. Please try the latest revision.

[2015-05-21 11:41] #78 closed

[2015-05-21 11:43] goodsign commented on #63
No reply for a long time. Closing for now, reopen if needed.

[2015-05-21 11:43] #63 closed

[2015-05-21 12:14] goodsign commented on #85
What do you think we should do, if a log level is unused (disabled for all dispatchers): do we increment the counter for this log level or not?

I think we should, so that the counter holds the value of 'log attempts', despite the fact that some log messages may not appear because of current config.

[2015-05-21 15:22] timesking commented on #86
I'm sure your commit has fixed my problem. Thx.

[2015-05-21 16:49] #86 closed

[2015-05-26 10:04] goodsign commented on #85
So, what do you think about 'log attempts' vs 'filtered messages'? I'm going to implement calculation of log attempts, e.g. number of log.Error / Errorf calls, even if the ```minlevel``` if set to ```off```, so that you get info about number of errors even if current log config filters them out. What do you think?

[2015-05-27 20:52] bong0 commented on #85
@goodsign Sorry for me taking long to answer. Yes I would also count the log attemts. I would expect every call of log.LEVEL results in incrementing. This is independent of the setting whether we write the entry to a file or so. Yes this introduces one more line which is always executed but I think an increment is not that much overhead.

[2015-06-11 09:30] chy168 opened #88 "questions for session base logging"
Hi,

I'm integrating seelog with my http service. I would like to debug with a 'request id' per request/session.

My concept is, once http server receive a request, it will generate a UUID as the request id for this session.
All debug log will include this UUID for identifying till the end of request.

I've read a solution at [Custom receivers - Scenario 3.2: Custom receivers with context](https:/

[2015-06-11 09:55] goodsign commented on #88
Hi chy168!

I think that in most cases, the scenario 3.2 should work for you. Check the [App Engine integration](https://github.com/cihub/seelog/wiki/custom-receivers#note-about-google-app-engine-integration) section for an example. There is no ReplaceLogger and each logger goes as a variable (exactly what you need), so there won't be any conflicts/incorrect ids.

However, the scenario 3.2 and the

[2015-06-11 10:07] goodsign commented on #88
Note: in the last method above, I meant that you would still need to create your `CustomLogger` structs for each request (because you need to provide them Ids), but you may construct all of them, passing the same seelog logger, that's why you don't need to recreate and you can use one logger for the whole app.

So, you create:

[code]

Then you create all the LoggerInterface funcs (so that you str

[2015-06-12 07:40] chy168 commented on #88
Hi @goodsign

Thanks for your very detail information and example. It works perfectly.

May I know if we could build this kind of requirement in custom formatter?
For this case, we can register a custom formatter, and set the format like:

[code]

Thank you!

[2015-06-12 10:43] goodsign commented on #88
Hi @chy168!

Not sure that I understood the first question. Can you give an example?

Regarding the second question, it is not possible at the moment, so the best option for you would be the recipe above, it shouldn't have any drawbacks.

[2015-06-12 17:42] chy168 commented on #88
Hi @goodsign !

Thanks for you reply, i think the first question is solved by myself via my http server arch.

One more question about i implement the request-id based logger.
I use %Func to track log info, but i cannot get the correct call depth in my SomeLogger.
My SomeLogger result in %Func part just like:

[code]

"print.func·015" is not the correct call depth. How can I fix this?

Thank you!

[2015-06-12 18:23] goodsign commented on #88
Check out this [section](https://github.com/cihub/seelog/wiki/Custom-receivers#scenario-2-seelog-as-a-receiver).

Pay attention to the `SetAdditionalStackDepth`, I feel that this is exactly what you need!

[2015-06-13 08:18] chy168 commented on #88
Hi @goodsign
Actually i've tried `SetAdditionalStackDepth` in my logger. :(

simply my code,
[code]

[2015-06-13 09:37] goodsign commented on #88
Can you attach code of full example, where you load logger, set additional stack depth and do the `print` and see this: `2015/06/13 01:22:50.960 [Debug] github.com/test/seelog-testing/print.func·015 1a615b6e-3891-4c25-9407-6549fe99a0a9 LOG_MESSAGE_HERE`?

(Please leave only the minimal part)

[2015-06-13 18:03] chy168 commented on #88
Hi @goodsign

I create two example in my scenario.
First one is my original case, use [go-json-rest](https://github.com/ant0ine/go-json-rest) integrated with seelog for request-id logger. I put the gist here: [seelog + go-json-rest](https://gist.github.com/b9b0aa1193ec8f192f4a.git)

If you run the sample, we can get:

[code]

After this case, i was trying to investigate and simply this case, narro

[2015-06-13 20:52] goodsign commented on #88
Well, I'm not sure that it doesn't work as designed. You log from an anonymous func, which it correctly reports. Just plain seelog.Debug without any custom loggers and additional stack level would report the same in this case. It reports the func that it is called from (checks using call stack) and in your case it is called from an anonymous func that is returned by `playRequest`.

If you try this

[2015-06-13 20:58] goodsign commented on #88
If you are 100% sure that you are going to log from some "Middleware" func and you won't need log statements outside of them (or you use different logger for that), then you may do this: ```appLogger.SetAdditionalStackDepth(2)```. It will now skip 2 frames and you'll see what you want. But, again, you must keep in mind that it will now always skip 2 frames instead of 1. So, if you now do this:

[c

[2015-06-15 11:54] mtyurt opened #89 "Rotation config example"
Is there any configuration example for logging with time interval rotation? For example daily? I wandered around the source code but it's not easy :)  Can you provide/refer to a sample doc page or blogpost?

[2015-06-15 12:18] goodsign commented on #89
Hi mtyurt!

Have you checked the [wiki page](https://github.com/cihub/seelog/wiki/Receiver-reference#rolling-file-writer-or-rotation-file-writer) for the rotation writer itself?

This part is relevant:

So, basically, it uses a super simple idea: you create pattern and it checks, whether current time representation (using the pattern) changed or not. If yes, then it rotates.

[2015-06-15 12:26] mtyurt commented on #89
Oh, figured out know. Thank you :)

[2015-06-15 12:26] #89 closed

[2015-06-15 16:16] tubaozturk opened #90 "using env variables in xml file"
Hi,
Is it possible to define filename path dynamically, with an environment variable etc.
What I want to do is something like this:
[code]

[2015-06-15 16:27] goodsign commented on #90
Hi!

Currently, no, but as long as config is just a string, you can use any golang template packages to create it dynamically in runtime before loading the logger.

[2015-06-16 06:07] tubaozturk commented on #90
Will do, thanks!

[2015-06-16 06:07] #90 closed

[2015-06-17 03:11] chy168 commented on #88
Hi @goodsign !
Appreciate your time and very clear advices.
seelog works charming on my code now, thank you!

[2015-06-17 03:12] #88 closed

[2015-06-25 06:53] chy168 opened #91 "rename date rolling log till date changed"
Hi,

I configured my application for logging date rolling log.

[code]

For sure, the output file will be named as "api.log.25.06.2015", "api.log.24.06.2015" ... etc.

Assumption today is "25.06.2015".
May I know if any possible always to write today's log to "api.log" until the date changed to "26.06.2015".
It will rename the old log file "api.log" to "api.log.25.06.2015", and then start a new "a

[2015-06-25 09:40] goodsign commented on #91
Hi!

For simplicity, seelog doesn't have this feature and it is not planned.

Because when you shut down your program and then start it again later (in a couple of days), you cannot know what date 'api.log' corresponds to. So, if you want this feature, you would need to store the 'date of api.log' in some other place (like a second file) or try to guess it using modification time (which is unrelia

[2015-07-19 06:23] jonathankarsh opened #92 "How to create custom filters?"
First off, thanks for a great library!

Not sure if I'm mis-reading the doco, but it seems that I cannot create a custom filter dispatcher which would:
- allow me to inspect the message and its context to determine whether it should be forwarded (dispatched).
- in some cases I would like to modify the context directly, before forwarding.

Just wanted to check whether these capabilities are present

[2015-07-19 08:16] goodsign commented on #92
Hi jonathankarsh!

Thanks!

Currently, this functionality is not implemented: we only have custom formatters and custom receivers. Custom dispatchers are not here yet.

But now I know what to implement next :)

[2015-07-19 12:12] jonathankarsh commented on #92
That would be awesome.. thanks for the quick reply!
I was thinking about making public some of filters.. or provide a similar public mechanism.
I might dig around a bit. Are you accepting PRs for new features ATM?

[2015-07-19 13:01] goodsign commented on #92
Yeah, I do accept feature PRs! I'll be able to implement something myself in a couple of weeks. Meanwhile you could try to look into it.

However let's discuss it and make sure that it fits in current seelog architecture.

I think that currently custom dispatchers ('filters' and 'splitters' are just examples of a broad category of 'dispatchers', as opposed to 'receivers') should be implemented the

[2015-07-19 13:06] goodsign commented on #92
Maybe, because now we have two different custom nodes, you could just start with renaming current `dispatch_custom.go` to `dispatch_custom_receiver.go` and copypasting the existing custom receiver code into `dispatch_custom_dispatcher.go` just not to confuse them (also, rename `dispatch_customdispatcher_test.go` -> `dispatch_custom_receiver_test.go`). Just not to confuse them.

And then change the

[2015-07-19 13:43] jonathankarsh commented on #92
Nice :-)

All sounds good at a high level, I was also thinking along the lines of custom dispatcher using a different interface.

I'll follow up with questions as soon as I get a chance

[2015-07-20 07:50] debraj-manna opened #93 "How to create custom json log message format?"
Is the below log message:-

[code]
where along with `message`, `tId`, `reqId` `appId`,  `sessionId` and `userId` will be passed by caller.

Is it possible to achieve this using custom formatter?

[2015-07-20 11:09] goodsign commented on #93
Hi!

If those `tId`, `reqId` and others are dynamic, then currently this is not possible to do with custom formatters, because you can only use this context info in custom formatter handlers:

[code]

But, we can think of solving this, probably it is possible to extend the `LogContextInterface` with something like `CustomContext interface{}` so that you could be able to do something like this:

[c

[2015-07-20 11:10] #91 closed

[2015-07-20 11:16] goodsign opened #94 "Logger clone helper"
A cloning function is needed to avoid frequent expensive xml parsing in scenarios like [Custom receiver 3.2 case](https://github.com/cihub/seelog/wiki/Custom-receivers#scenario-32-custom-receivers-with-context).

[2015-07-20 11:18] debraj-manna-jabong commented on #93
Thanks @goodsign . I will give it a try.

[2015-07-20 11:20] debraj-manna commented on #93
I will give it a try. Thanks @goodsign  for pointing me to the relevant code sections.

[2015-09-10 16:31] mmindenhall commented on #93
I'm using seelog in development of a new product.  We just had a new requirement to be able to forward logs to an aggregator (e.g., graylog, logstash), which is typically done via JSON structured logs.  It would be really great to have improved support for this.

What's been discussed so far on this issue is the ability to set a custom context on a logger, which will add those fields to every log

[2015-09-10 16:42] goodsign commented on #93
Hey!
Basically, this is possible, however we should think about not getting too complex and trying to fit all possible features into one package and ending up with a cluttered interface.

I haven't had a chance to look at the issues in August, because I had to leave for another couple of months, unfortunately (until October). So, PRs are still accepted.

[2015-09-10 16:44] goodsign commented on #93
Probably we could start with a logger-level context and then think about message-level context.

[2015-09-13 14:09] theduke opened #95 "Examples for configuring with code"
Neither can I nor do I want to use the xml format for logger configuration.

Sadly there are zero examples for configuring filters/receivers in code.

Could you add some?

[2015-09-13 14:23] goodsign commented on #95
Hey theduke,

Currently there is no possibility to configure logger in code, only to generate xml in code. Basically there are no technical difficulties in providing such a feature, it just wasn't needed. You could help with a PR or I could look into it later, but there is no such feature currently.

[2015-09-13 14:24] theduke commented on #95
Shame, I was really looking forward to using seelog but I need really need to set it up in code.
I'll probably be too busy to implement this myself though.

[2015-09-13 14:32] goodsign commented on #95
I'm having a really busy time now, so a couple of other issues are stacked for a month already. But I could look into it in a few weeks, if that works for you.

[2015-09-30 14:36] goodsign commented on #93
Hey!

I returned to my normal schedule, so I'm going to look at this issue today, stay tuned.

[2015-09-30 17:06] goodsign commented on #93
I've added `SetContext` to `LoggerInterface`. You can now use it to set custom context to any interface and then call `CustomContext` on `LogContextInterface` to get it inside your formatter. Please check it out and tell me if everything is ok.

[2015-09-30 18:54] goodsign commented on #95
Hey theduke,

Finally I returned to my normal work schedule. I just made a simple change to the package and just made public most of the constructors. So now you can do something like this:

[code]

This is just a demonstration of all the features possible, so probably your case would be more simple. I've also added a part to the documentation that says that configuration in code is not a recommen

[2015-10-08 10:09] wujunbin opened #96 "'Max rolls' feature for 'rolling' receiver with type='date' do not work for me."
'Max rolls' feature for 'rolling' receiver with type='date' do not work for me.
my code is follow.
[code]

![image](https://cloud.githubusercontent.com/assets/11531884/10363445/1aefb590-6de7-11e5-8f70-b7817c56721d.png)

the value of 'maxrolls' is 5. it should at most generate five files but there are six log file.
Is wrong the usage i used to log?
How can i fix the problem.

[2015-10-08 10:12] goodsign commented on #96
Hi!

Before version 2.3 this attribute was not applicable to the 'date' rolling writer. Could it be that you use older version or is the same happening on the latest one too?

[2015-10-08 10:23] wujunbin commented on #96
Hi！
I just use the command "go get -u github.com/cihub/seelog", so it shoud be the latest version.

[2015-10-08 10:25] wujunbin commented on #96
it still generate 6 files in the latest version.

[2015-10-08 10:30] goodsign commented on #96
I think it can take the `go1.0` tagged revision even with -u flag. Can you go to your go path folder, find the seelog folder, check whar revision is active and do manual git checkout to the latest revision?

I think the issue is with 'go1.0' tag, I believe you are still getting the wrong revision with `go get`. If that is the case, I'll test whether it is compatible and retag the latest revision.

[2015-10-08 11:02] wujunbin commented on #96
i think i am in the latest version.
![image](https://cloud.githubusercontent.com/assets/11531884/10364474/437d8a58-6dee-11e5-97d7-339e4f384d47.png)

the image above is a capture of sourcetree that shows the code of seelog is in the latest version.

[2015-10-08 11:15] goodsign commented on #96
Hmm, ok, then it looks like a bug. I'll look into it, thanks for submitting.

[2015-10-20 03:56] torfuzx opened #97 "How to make different levels show different color"
I want to make different levels show different color. How to do ?

[2015-10-20 14:02] goodsign commented on #97
Hi!

Is this what you are looking for? [Colored output](https://github.com/cihub/seelog/wiki/Colorizing-output)

[2015-10-20 16:45] vany-egorov commented on #97
Example:
[code]

[2015-10-20 19:08] torfuzx commented on #97
Thank you very much.

[2015-10-20 19:08] #97 closed

[2015-10-26 11:20] mcmaur opened #98 "Body in gmail is empty"
Using the smtp function in the full format of the mail the message is present under "Subject:" but in the normal view of gmail the body is empty.

Full message:
[code]
![ggmall](https://cloud.githubusercontent.com/assets/3799031/10727613/7b7863c4-7bdb-11e5-9702-bb689e616273.jpg)

[2015-10-26 11:22] goodsign commented on #98
Hi mcmaur!

Can you post the snippet you are using to reproduce, seelog config and the revision of seelog you are using?

[2015-10-26 11:50] mcmaur commented on #98
I can't see any problem on code and configuration because the email is sent and received correctly. I am not able to specify the version I was using because of vendoring problems.
Once updated the library to the latest version the problem is vanished.

###### Code:
[code]
###### Configuration:
[code]

[2015-10-26 11:50] #98 closed

[2015-10-30 03:54] torfuzx opened #99 "rolling file writer"
When using the function of rolling file writer, whether type data and type size can be used in combination.
Writes received messages to a file, until date changes. But in this period, if the log is too big, can use type size to roll  file writer again.

[2015-10-30 16:36] goodsign commented on #99
Hi torfuzx!

Currently, such functionality is not available. It is either this or that.

[2015-11-01 17:08] goodsign commented on #96
Hey, sorry for long response, I just had time to look into the issue.

Well, basically it can be considered a bug or a feature depending on the definitions. Basically, you have primary file + 5 roll files. So, 6 files total.

When the rolling logger type is 'size', it looks absolutely fine:

[code]

But when you use time rolling, maybe it looks like a bit unintuitive:

[code]

But basically it's t

[2015-11-02 02:11] torfuzx commented on #99
Thank you very much.

[2015-11-02 02:11] #99 closed

[2015-11-02 07:50] wujunbin commented on #96
I think it is a bug. The code I wrote can generate many files. The num of files is greater than 6.
![image](https://cloud.githubusercontent.com/assets/11531884/10876622/3c902216-8179-11e5-8447-c5f689a20fc7.png)

[2015-11-02 09:12] goodsign commented on #96
Probably it's connected with the fact that your program doesn't run longer than one roll period. I made a quick fix. Try the latest revision now.

[2015-11-04 18:38] kartlee opened #100 "Seelog throw warnings about /dev/stdout under Windows"
Under Windows, using seelog, throw following warnings -

seelog internal error: write /dev/stdout: The handle is invalid.
seelog internal error: close /dev/stdout: The handle is invalid.

These seem to be cosmetic so far.

[2015-11-05 06:04] wujunbin commented on #96
It's fine now. you are right. I run the program many times by entering go
run *.go on command line. it doesn't run longer than one roll period.

Thanks.

2015-11-02 17:12 GMT+08:00 goodsign <notifications@github.com>:

[2015-11-05 10:29] #96 closed

[2015-11-08 19:27] pkorotkov commented on #100
@kartlee, thanks for report! Could you please be more specific about a reproducing scenario for the issue? Maybe, some piece of code?

[2015-12-09 06:44] shafreeck commented on #93
Hi @goodsign  I am using seelog in our new project and it is really a powerful log library. However, I got stuck on this problem too. I am afraid the `custom context` way maybe not as useful as you think. In our situation, there are many concurrent goroutines using a shared logger. So I cannot just call logger.SetContext in one goroutine because this may overwrite the context of another. Do you ha

[2015-12-09 21:26] goodsign commented on #93
Hi @shafreeck!

Usually the seelog way of handling such cases is one logger per goroutine/per handler/etc. In our examples we show web servers creating a logger per request. For performance issues I thought about implementing the fast copy for loggers (to avoid deserializing from config every time).

We don't have other means to do this at the moment.

[2015-12-09 21:38] goodsign commented on #93
If that's too much overhead, let's think about possible solutions. Maybe we could take the idea described above and allow ```&Context``` as last parameter to any of the existing funcs. For example, now you do:

[code]

, but you can possibly do it this way:

[code]

Let me know what you think.

[2015-12-14 07:08] shafreeck commented on #93
@goodsign I did not see the web server example you mentioned above. Could you give me a link address? I think the optional context argument is a good idea. It is compatible with the original apis and supplies a powerful way to custom the log format. However , there is also something painful, users have to pass `context` as argument every call of logging.

[2015-12-14 09:02] goodsign commented on #93
This is the [example](https://github.com/cihub/seelog/wiki/custom-receivers#note-about-google-app-engine-integration) I was talking about.

Yeah, that's why currently the main path is setting the context, but it may not work for complex asynchronous cases with multiple goroutines with one logger.

[2015-12-15 09:05] wangfakang opened #101 "How to writing log to rsyslog?"
hi @goodsign : I want to write some loginfo to rsyslog, I'm not sure that seelog could do it?

Thanks.

[2015-12-15 10:48] goodsign commented on #101
Hi @wangfakang!

Currently we don't have builtin syslog receiver, but you may build your own using [this example](https://github.com/cihub/seelog/wiki/custom-receivers#scenario-31-custom-receivers-without-contextwith-fixed-context)

[2015-12-15 11:24] wangfakang commented on #101
@goodsign  Oh, Maybe I didn't say clear my question. I want using seelog lib writing my app loginfo to rsyslog and not receiver from rsyslog.
I found a [PR](https://github.com/cihub/seelog/pull/50)  and you say ' It's will release as 2.6.'  but not found anywhere. maybe i'm wrong please give me some tips thx.

[2015-12-15 11:31] goodsign commented on #101
We included the TLS part of that PR into 2.6, but we didn't build a builtin syslog receiver yet.

Right, so you can build a syslog receiver. [Receiver](https://github.com/cihub/seelog/wiki/Dispatchers-and-receivers) is the node that receives messages, so if you need to write your logs to syslog, you need a syslog receiver. We don't have a builtin one yet, but at the moment you can build your own u

[2015-12-15 11:35] wangfakang commented on #101
Oh, I know. Thank you for your detailed explanation.

[2015-12-16 15:06] skypacer210 commented on #93
@goodsign
Thanks your great seelog library!
It seems that the struct named cfgParseParams can't be exported in current version.
Please refer to your examples: "parserParams := &log.CfgParseParams{", here is CfgParseParams.
Do you plan exported the CfgParseParams struct? Thanks.

[2015-12-16 15:15] goodsign commented on #93
Hey @skypacer210,

Made it exported, check it out!

[2015-12-16 15:17] goodsign commented on #93
Hey @debraj-manna,

This issue was left here for a while, but I believe I've implemented what was needed, so I'm closing the issue now, please reopen if needed.

[2015-12-16 15:17] #93 closed

[2015-12-17 08:26] skypacer210 commented on #93
Got it, thanks @goodsign !

[2016-02-04 10:04] navneetk commented on #44
I am facing this issue now. I am at version https://github.com/cihub/seelog/commit/5841159c495ad98691aac2bf90113c040e62bac2
I have 4 different processes writing to the same log file.

[2016-02-09 17:25] vrecan commented on #95
:+1:

[2016-02-12 10:58] mosasiru opened #103 "Question: Can %File or %RelFile output deeper caller file?"
I want to know what file is caller of caller.
Can set trace level of caller?

[2016-02-12 11:02] goodsign commented on #103
Hey!

Is ```log.SetAdditionalStackDepth(1)``` what you are looking for?

[2016-02-17 07:44] navneetk opened #104 "Adpative logger prints wrong file and function name"
Recently I shifted to using Adaptive logger and it is not printing the file name correctly. I modified the config to include print of function name and found if is printing seelog's function.

This works fine in Linux, facing this issue only in OSX.

Here is the configuration

[code]

Feb 17 13:02:08.745 [DBG] <autogenerated>:github.com/cihub/seelog.(*asyncAdaptiveLogger).Debug:56 > debug
Feb 17 1

[2016-02-17 13:10] #101 closed

[2016-02-26 10:53] navneetk commented on #104
I happens when build with -race option

[2016-02-26 13:31] goodsign commented on #104
Hi navneetk!

Thanks for your submission! That's a pretty strange issue and the most interesting part is that it works fine on Linux.

Basically, all of that happens [here](https://github.com/cihub/seelog/blob/master/common_context.go#L103):

[code]

I couldn't currently test it on OSX, but you can easily debug it and find a bit more details, so that we could find more specific bug, like different

[2016-02-29 12:39] bong0 opened #105 "Implement same-line repetition "Message repeated n times""
It would be very helpful to have something like in some java loggers and syslog suppressing lines which are duplicates of each other.
This would require to store the last-logged message and then comparing.

[2016-02-29 14:42] goodsign commented on #105
That would only work for asynchronous loggers, right?

[2016-02-29 15:07] bong0 commented on #105
Yes, I assume that. For strictly non-buffering loggers this cannot work. That's why I pointed it out since I am not so into how seelog works internally or whether there is buffering in that architecture.

[2016-02-29 15:13] goodsign commented on #105
Seelog has 4 types of loggers: `sync`, `async loop`, `async timer`, `async adaptive`. This makes sense only for `async loop` logger, probably. As some specific flag.

However I'll think about the possibility of this.

[2016-02-29 19:58] vany-egorov commented on #105
+1
ala [ffmpeg](https://ffmpeg.org/ffmpeg-all.html) "Last message repeated n times"

[2016-03-01 19:44] bong0 commented on #105
@goodsign okay, thank you!

[2016-03-09 10:38] carbin-gun opened #106 "How to specify different format according to source file difference"
what I want to do is logging two things :

 - record the access log with format A.(I have an interceptor file which will do this thing.)
 - record some useful messages with another format B.

How should I do this.Multiple loggers or any better ideas?

[2016-03-09 13:39] goodsign commented on #106
Hey carbin-gun,

Yeah, one of the most simple options would be using multiple loggers. There is 'constraints/exceptions' mechanism in seelog, but it's for making log levels different for different files, but there is no such thing for formats. So yeah, try multiple loggers, seelog was designed to have low resource usage, so you won't have any overhead for using two loggers.

Note: you don't actual

[2016-03-09 13:52] carbin-gun commented on #106
hi @goodsign.
Yeah.that's what I'm planning to do for now .But maybe the format override should be supported ,How do you think of that?

[2016-03-09 13:54] goodsign commented on #106
Yeah, I think that might be a good idea, I'll add it to my possible future features list. Thanks for suggestion!

[2016-03-09 13:56] #106 closed

[2016-03-09 14:10] carbin-gun commented on #106
looking forward to see it soom

[2016-04-04 13:31] mlallaouret opened #109 "Rolling file writer by date does not write in the original file"
Hello !

Given the following configuration:
[code]

Seelog will write current logs in logBySize.log as expected, but not in logByDate.log. Instead, it will write in the rolling file of the day: logByDate.log.2016-04-04. I suppose this is a bug, right ?

[2016-04-05 20:06] goodsign commented on #109
Hey!

No, that works as intended: [rolling receiver](https://github.com/cihub/seelog/wiki/Receiver-reference#rolling-file-writer-or-rotation-file-writer)

Check the 'filename' param description.

[2016-04-06 09:11] ylegat opened #110 "Add the possibility to explode zipped logs"
Hello !
Popular command line utilities like `zcat` or `zgrep` are useful tools for processing log files. For instance, `zgrep` allow to search compressed files for a regular expression.
Those tools require that the analyzed archive contains only one file. Yet, when compressing archived logs, seelog put all the log files in the same archive.

So, it would be nice if it was possible for archived log

[2016-04-06 09:39] mlallaouret commented on #109
Ok, thank you for your answer.
So, having log files matching `filename.DATE_PATTERN` pattern, wouldn't it be better if the logs of the current period were always written in `filename` and just create the `filename.period` when seelog rolls the file ? It would be easier to access the log file of the current period (usually daily rotation) to make research, more recent logs always being in `filename

[2016-04-06 10:52] goodsign commented on #109
Yeah, probably it could be easier this way, I'll think about implementation possibility. Currently it doesn't check the file modification date and only checks the filename, thus we need to store the time in the filename to be able to know when to roll.

[2016-04-06 10:54] goodsign commented on #110
Hi ylegat!

That's definitely interesting and may be useful.

[2016-04-07 12:14] ylegat commented on #110
Hi goodsign !
As promised, here is our pull request to add the explode mode. We are waiting for your comments !

[2016-04-07 12:29] mlallaouret opened #112 "Add gzip compression algorithm"
Hello !

Currently seelog only proposes to use `zip` as compression algorithm. With @ylegat, we propose to add `gzip` to offer an alternative to the end users. This work could ease the introduction of other compression formats if needed.

[2016-04-07 13:34] #110 closed

[2016-04-07 13:40] goodsign commented on #112
Hi!

That's a great idea. Are you going to do a pull request in addition to [the previous one](https://github.com/cihub/seelog/pull/111) or would you like me to take a look myself later?

[2016-04-07 13:49] mlallaouret commented on #112
We are going to do a pull request.

[2016-04-07 13:50] goodsign commented on #112
Thanks!

[2016-04-13 17:45] vrecan commented on #95
is there a way to programmatically set different formatters for different log levels?

[2016-04-14 12:34] goodsign commented on #95
It's the same as doing it using xml config:

[code]

So you need to create a filtering dispatcher and assign format id to it, because you can only assign formats to dispatchers currently.

[2016-04-20 18:43] #112 closed

[2016-05-09 17:05] mosasiru commented on #103
sorry for being too late to reply.
it's just I search for. Thank you!

[2016-05-09 17:05] #103 closed

[2016-05-16 08:40] chrislee87 opened #114 "How to use seelog in multiple files?"
I have two go files in the same package, file_a.go and file_b.go

In file_a.go, I init seelog like this:
	import log "github.com/cihub/seelog"
	... ...
	logger, err := log.LoggerFromConfigAsFile(*LogConfig)
	if err != nil {
		fmt.Println(err)
		os.Exit(1)
	}
	log.ReplaceLogger(logger)
	defer log.Flush()

In file_b.go, can I use seelog as below? Why?
	import log "github.com/cihub/seelog"
	... ...

[2016-05-16 09:37] #114 closed

[2016-05-16 09:38] chrislee87 commented on #114
I read the source code and find out the reason.

[2016-05-17 15:00] bobrnor opened #115 "Writing messages in the same file but with different formats"
Hi! I have config like this: https://gist.github.com/bobrnor/0df5fcde57707a6b53d593831f13dfd3
and I noticed that some messages are written only in errors.log, not in full.log.

Is it 'cause I use several writers with one file? And if it is, how can I use different formats for different messages but write it in one file?

[2016-05-19 17:32] jonsyu1 commented on #109
Can we get the last modified time from the stat'ing the file and format that timestamp before diffing?

[2016-05-19 19:15] goodsign commented on #115
Hi bobrnor!

Currently there is no reusing of receivers, so such configs may cause issues. The problem is that you use multiple rolling writers with the same filename (full.log).

Basically I'm saying that if you create 2 different receivers, there would be 2 different entities that know nothing about each other, have their own descriptors, but work with the same file.

We can discuss adding this

[2016-05-19 19:28] #94 closed

[2016-05-19 19:39] goodsign commented on #109
Yeah, we can do that.

[2016-05-19 20:17] jonsyu1 commented on #109
Ah, this only works for `rollingIntervalAny`. I see that nothing sets custom rolling intervals at the moment except for tests. Are there plans to support this in the future?

If so, I think we'll need to write this information to disk. We can touch a `.seelog_last_roll` file on file creation during log roll and parse that to get `tprev` (previous roll time).

[2016-05-20 12:57] goodsign commented on #109
The `rollingIntervalDaily` and related code is deprecated. It was used in earlier seelog versions and now it's just left there, I forgot to delete it. But it's basically unused, not mentioned in the [reference](https://github.com/cihub/seelog/wiki/Receiver-reference#rolling-file-writer-or-rotation-file-writer) and basically unusable, because the `rollingIntervalTypeFromString` func is not used any

[2016-05-20 13:13] goodsign commented on #109
Ok, I removed the deprecated `rollingIntervalDaily`.

[2016-05-20 13:22] #95 closed

[2016-05-20 15:46] jonsyu1 commented on #109
Perfect, I'm on the same page here. Thanks for the quick response and cleanup. I'll go ahead and cleanup my end too.

[2016-05-21 03:07] jonsyu1 opened #118 "Deployctl log should be moved from deployd/var/log to deployctl/var/log"

[2016-05-21 03:07] jonsyu1 commented on #118
shoot, wrong repo, ignore this.

[2016-05-21 03:07] #118 closed

[2016-05-24 19:50] goodsign commented on #109
Fixed in latest revision. Thanks to @jonsyu1 for this [PR](https://github.com/cihub/seelog/pull/117)

[2016-05-24 19:50] #109 closed

[2016-05-25 12:56] bobrnor commented on #115
Well, it's not exactly that I want but I can write external colorizer for cat/tail for now. Also I think I'll see the sources and make work-around if possible.

[2016-05-30 06:17] Fall12 opened #119 "Can output file be named as info.log.2016.05.30?"
Hi,
As I updated to new seelog version last Friday,I found that the output file will be named info.log,and  rename date rolling log till date changed.Can we also support the old pattern which is like info.log.2016.05.30 ?
Thank you.

[2016-05-30 10:03] goodsign commented on #119
Hey Fall12,

We changed this logic so that time and size rolling receivers work in the same way (rename after roll) and because this behavior seems more widespread. I wasn't planning to support the old pattern, but can you tell me what is your usecase and why do you need it?

Thanks!

[2016-05-31 02:42] Fall12 commented on #119
Hi goodsign,
Well,because our log file is used for statistic analysis which is done by big data department. And they process data according to date of log file's name.They also handle data from other projects  programed in Java,and Apache log4j  can make configuration for log file's name.That is why I hope seelog can be configurable.
Thank you~

[2016-06-01 19:39] #119 closed

[2016-06-01 19:47] goodsign commented on #119
I've added this feature. Check out the new rolling date receiver attribute: [fullname](https://github.com/cihub/seelog/wiki/Receiver-reference#rolling-file-writer-or-rotation-file-writer).

[2016-06-02 01:36] Fall12 commented on #119
Thank you so much!

[2016-06-18 03:19] jonsyu1 opened #120 "Closing cloned loggers causes seelog internal error: bad file descriptor"
Closing cloned loggers (which share `dispatcherInterface`s) leads to `logger.Close()` producing seelog internal error: bad file descriptor. Clone should iterate through the loggers and open a new file descriptor for file-backed appenders. Current workaround is to simply `Flush` cloned loggers until you're ready to close all of them via a single `Close` call.

[2016-06-20 11:58] goodsign commented on #120
Hey jonsyu1

I think we should modify the current cloning procedure. Now it takes `logger.commonLogger.config` as is, but we need to have something like `cloneConfig` that would not just take the same dispatcher tree, but copy it and clone all the children nodes, because they are not meant to be shared.

The receivers/dispatchers must not do anything if you just construct them, they only open the

[2016-06-21 04:12] browny opened #122 "The `datepattern` attribute seems like not working in `rollingfile` output"
This is fine
[code]

But, this version `datepattern` seems not works
[code]

[2016-06-21 08:52] goodsign commented on #122
Hey browny

Can you please give me more details: what exactly is not working in the latest revision?

[2016-06-21 10:01] browny commented on #122
Hi @goodsign

The latest version can not pass below test, and the config xml as below. Looks like the log file generate by the latest version **doesn't include the date postfix**.

[code]

[code]

[2016-06-21 10:31] goodsign commented on #122
Have you seen the new changes to the rolling receiver? Now it doesn't include the prefix/postfix in the current file, but the roll files include it. If you want to also include it in the original file, you should use the `fullname` parameter. This is described in the updated [rolling receiver reference](https://github.com/cihub/seelog/wiki/Receiver-reference#rolling-file-writer-or-rotation-file-wr

[2016-06-21 12:45] browny commented on #122
Thanks for the reminding. After I specify the `fullname="true"`, it works as I expect.

[2016-06-21 12:46] goodsign commented on #122
Ok, great!

[2016-06-21 12:46] #122 closed

[2016-07-01 03:32] NeoCN opened #123 "check file write permission when create logger instance"
is there any way to check log file write permission when create logger instance other than return error when write log to file?

[2016-07-02 12:31] goodsign commented on #123
Hey @NeoCN

Currently seelog doesn't have this functionality because the idea was to delegate such checks to the user code, so that seelog works with an environment where it has all the rights to read/write/create and nothing prevents it from doing its operations.

[2016-07-03 03:20] NeoCN commented on #123
@goodsign Is there anyway to get the parsed configuration struct?

[2016-07-03 09:07] goodsign commented on #123
@NeoCN, currently it doesn't store the configuration struct, it uses it to call the logger constructors and initialize the dispatcher tree. You can create the logger structure programmatically from code, if you would like. Here is an example: https://github.com/cihub/seelog/issues/95

I can think about making more fields of seelog dispatcher tree as exported, so you can read what seelog loaded aft

[2016-08-24 01:58] UncleBig opened #124 "fatal error: concurrent map read and map write"
when I write the log frequently , the program will crash whit the info like this :

 fatal error: concurrent map read and map write

goroutine 23 [running]:
runtime.throw(0xca9160, 0x21)
        /work/go/src/runtime/panic.go:547 +0x90 fp=0xc82041c728 sp=0xc82041c710
runtime.mapaccess2(0x9f5ee0, 0xc820217200, 0xc8204a30f0, 0x2, 0x9f7660)
        /work/go/src/runtime/hashmap.go:343 +0x5a fp=0xc82041

[2016-08-24 08:20] goodsign commented on #124
Hello @UncleBig

Could you please provide a small program that reproduces this issue?

[2016-08-29 02:29] UncleBig commented on #124
@goodsign hello .I have changed the maxsize of the logfile in the config file , it works normally 。Maybe I set the value too large before，Thank you ！

[2016-08-29 02:29] #124 closed

[2016-09-19 19:19] jonsyu1 opened #127 "Is seelog deprecated? Want to add Go 1.7 compatibility."
Hey @goodsign and other seelog maintainers,

We're planning to upgrade to Go 1.7, but this requires some updates to seelog.
I haven't seen any responses on pull requests such as https://github.com/cihub/seelog/pull/125, so I want to determine the state of the repo before deciding next actions:
- Is seelog deprecated?
- If so would you be willing to ask the community for new maintainers?
- If not,

[2016-09-19 19:24] goodsign commented on #127
Hey @jonsyu1

I've seen those PRs, but I didn't have time to test and respond yet. I'm going to check it out in a couple of days. As for the state of repo, it's not deprecated, so it's perfectly fine to add a go1.7 PR.

Thank you!

[2016-09-19 20:07] jonsyu1 commented on #127
Perfect, thank you!

[2016-09-30 23:17] lcaballero opened #128 "Unable to get the current level for logger."
I'd like to execute some lines of code only when in Debug (or whatever level).  I don't see a way to do this.  The function might be along the lines of `log.IsLevelOn(log.DebugLvL)`.

[2016-10-02 18:43] jonsyu1 opened #130 "archivepath is interpreted differently depending on the value of archiveexploded"
**Problem:** `archivepath` is interpreted as directory when exploded and file when unexploded.

**Suggestion:** We may not want to break API, but this should be noted in both the [wiki](https://github.com/cihub/seelog/wiki/Receiver-reference).

**Suggestion:** The rolling filewriter should also report the error when the rolling filewriter fails to create the unexploded archive (the user probably s

[2016-10-03 10:23] jonsyu1 opened #131 "Unexploded archiving only archives the first logfile"
Repro steps:
Configure seelog with `archiveexploded = "false"`. Here's mine: `<rollingfile formatid="ourlogStdout" type="date" filename="./var/log/axiom.log" datepattern="2006-01-02_03:04:05" archivetype="gzip" maxrolls="1" archivepath="./var/log/axiom.log.tgz" archiveexploded="false"/>`
Run logger for a few minutes

Expected: archive includes more files over time

Actual: only original file is in

[2016-10-12 18:03] agy opened #132 "Documentation: Incorrect Syslog severity code in Custom Formatter wiki page"
I'd have created a PR, but I'm not sure how (or if) I can do that with the GitHub wiki for this project.

The [Syslog RFC5424](https://tools.ietf.org/html/rfc5424#section-6.2.1) linked in the code has the Syslog `warning` severity code as `4` but the wiki documents it as `5`. I believe this to be a typo.

**Table copied from RFC5424**
[code]

[2016-10-12 19:46] pkorotkov commented on #132
@agy Do you mean [this](https://github.com/cihub/seelog/wiki/Custom-formatters#formatter-for-tls-connection-writing-to-syslog) mapping?

[2016-10-12 22:07] agy commented on #132
@pkorotkov Yes. Sorry I should have provided the context.

[code]

[2016-10-12 22:17] pkorotkov commented on #132
@ary Looks sensible, thanks for your contribution!
Done.

[2016-10-12 22:19] ary commented on #132
Hi, I think you mean @agy :)

[2016-10-12 22:25] pkorotkov commented on #132
@ary Sure, sorry for the noise! :)

[2016-10-12 22:27] pkorotkov commented on #132
@agy Does it work for you?

[2016-10-12 22:57] agy commented on #132
@pkorotkov It better, it's in production ;-)

In all seriousness, I've successfully tested the change using the setups below.

### Ubuntu 14.04
[code]

[code]

[code]

### Ubuntu 16.04

[code]

[code]

[code]

I cannot vouch for other distributions for syslog servers, however I feel pretty safe that this is correct with this configuration.

Using the documented severity level (of `5`) does not mak

[2016-10-12 23:01] #132 closed

[2016-11-17 07:16] taczc64 opened #133 "set rolling logs every hour, but log file doesn't produce in time"
hi, I set my config xml file below:
<seelog>
    <outputs formatid="main">
      <filter levels="info,debug,critical,error">
        <rollingfile type="date" filename="logs/proxy.log" datepattern="02.01.2006.15" maxrolls="180" />
      </filter>

    </outputs>
    <formats>
        <format id="main" format="%Date/%Time %File:%Line [%LEV] %Msg%n"/>
    </formats>
</seelog>

but it doesnt produce a

[2016-11-18 03:15] taczc64 commented on #133
I think maybe the IO is too busy..

[2016-11-28 08:24] fwhappy opened #134 "fatal error: concurrent map read and map write"
fatal error: concurrent map read and map write

goroutine 8 [running]:
runtime.throw(0x48b6d6, 0x21)
    /usr/local/go/src/runtime/panic.go:566 +0x95 fp=0xc42050b8f0 sp=0xc42050b8d0
runtime.mapaccess2(0x41f6e0, 0xc4204aee40, 0xc42042c388, 0xc42042c3c8, 0xc4200d92f8)
    /usr/local/go/src/runtime/hashmap.go:340 +0x249 fp=0xc42050b938 sp=0xc42050b8f0
reflect.mapaccess(0x41f6e0, 0xc4204aee40, 0xc4204

[2016-12-13 07:33] 756445638 opened #136 "runtime panic,i don`t kwon why"
fatal error: concurrent map read and map write

goroutine 23 [running]:
runtime.throw(0x971b9a, 0x21)
	/usr/local/go/src/runtime/panic.go:566 +0x95 fp=0xc42021d508 sp=0xc42021d4e8
runtime.mapaccess2(0x8d9c20, 0xc420196db0, 0xc4203f1130, 0xc420222230, 0xc4203f1101)
	/usr/local/go/src/runtime/hashmap.go:340 +0x249 fp=0xc42021d550 sp=0xc42021d508
reflect.mapaccess(0x8d9c20, 0xc420196db0, 0xc4203f1130

[2016-12-13 18:49] pkorotkov commented on #134
@fwhappy thanks for your bug report!
Could you please provide a code snippet to reproduce this error?

[2016-12-13 18:50] pkorotkov commented on #136
@756445638 thanks for your bug report!
Could you please provide a code snippet to reproduce this error?

[2016-12-20 13:09] orange-jacky opened #137 "output log filename when set up rolling by date"
I have set up a log filename rolling by date, the filename is search.log. when i start the program, i find that it output log infomation into search.log.2016-12-15-01,and it generates a new file with date+hour  one hour.
     And i plan to use it as log4cplus. i set up it by rolling by date, and the filename is search.log, i hope that it can wirte log information into search.log at 2016.12.15  01h

[2016-12-20 13:10] orange-jacky commented on #137
I have set up a log filename rolling by date, the filename is search.log. when i start the program, i find that it output log infomation into search.log.2016-12-15-01,and it generates a new file with date+hour  one hour.
 And i plan to use it as log4cplus. i set up it by rolling by date, and the filename is search.log, i hope that it can wirte log information into search.log at 2016.12.15  01hour,

[2016-12-20 13:11] orange-jacky commented on #137
I have set up a log filename rolling by date, the filename is search.log. when i start the program, i find that it output log infomation into search.log.2016-12-15-01,and it generates a new file with date+hour  one hour.
 And i plan to use it as log4cplus. i set up it by rolling by date, and the filename is search.log, i hope that it can wirte log information into search.log at 2016.12.15  01hour,

[2016-12-20 20:42] nehalkassem opened #138 "How to change file permissions for log file"
How can i change the file permissions for the generated log files? Example make it 0700 or 0600

[2016-12-21 09:49] pkorotkov commented on #138
Hi @nehalkassem
Currently file/directory permissions are [hardcoded](https://github.com/cihub/seelog/blob/175e6e3d439fe2e1cee7ab652b12eb546c145a13/internals_fsutils.go#L13) and not intended to be modified from outside. I suggest a straightforward solution: use OS utils (like Unix `chmod`) for freshly generated log files. Does it work for you?

[2016-12-21 17:24] nehalkassem commented on #138
Thank you for getting back to me, I use the rollingwriter so this will generate files and I have no control on when the files gets generated. i tried to change the hardcoded file permission value but that didn't change anything. Can you please tell me where are the places that has the file permissions set? All I found is in internals_fsutils.go constant defaultFilePermissions

[2016-12-22 05:53] #137 closed

[2016-12-22 09:49] pkorotkov commented on #138
@nehalkassem Seelog's internals_fsutils.go is really the only place where those settings reside. Since you played around file permissions with no-good, I can also recommend you to check system umask.

[2016-12-22 10:40] hellozenghui commented on #136
I have also encountered this problem
It does not occur after delete the log
code:
log.Errorf("out of delayMax stat:%v", stat)
stat is a map,size around 8000 byte

[2016-12-23 00:24] axengine commented on #134
I got the same fatal error,release V2.6.
fatal error: concurrent map read and map write

goroutine 8 [running]:
runtime.throw(0x9b86a0, 0x21)
	c:/go/src/runtime/panic.go:530 +0x90 fp=0xc82038d268 sp=0xc82038d250
runtime.mapaccess2(0x90c020, 0xc8202dc8d0, 0xc820205560, 0xc, 0x7dca20)
	c:/go/src/runtime/hashmap.go:343 +0x5a fp=0xc82038d2b0 sp=0xc82038d268
reflect.mapaccess(0x90c020, 0xc8202dc8d0, 0x

[2016-12-23 02:44] axengine commented on #134
seelog是异步写日志，如果带写的日志是一个map，而这个map在其他协程中有写入，就有可能会出现这个问题。

[2016-12-23 03:37] fwhappy commented on #134
@axengine

非常感谢

之前一直以为是seelog内部的问题，看来是我的用法有问题

之前不知道怎么解决这个，已经将日志库从seelog换成了beelog，汗

[2016-12-23 06:07] 756445638 commented on #136
ok,i will try!!

[2016-12-25 02:12] CodyGuo opened #139 "seelog internal error"
mail.aliyun.com

seelog internal error: dial tcp 140.205.78.2:25: connectex: A connection attempt failed because the connected party did not properly resp

ond after a period of time, or established connection failed because connected host has failed to respond.

[2016-12-29 23:20] lwithers commented on #136
I think this occurs because the map (`stat` in the example of @hellozenghui ) is being accessed asynchronously by seelog, meaning it can be read by seelog after the call to e.g. `log.Errorf()` returns. Since there's no lock protecting against concurrent access, if the application modifies the map, this panic will occur.

You could switch to a [synchronous](https://github.com/cihub/seelog/wiki/Logg

[2016-12-29 23:22] lwithers commented on #134
Same as #136 I think.

[2016-12-30 01:59] fwhappy commented on #136
seelog是异步写日志，如果带写的日志是一个map，而这个map在其他协程中有写入，就有可能会出现这个问题。

[2016-12-30 02:12] 756445638 commented on #136
恩，知道了，使用上的问题

[2016-12-30 02:14] 756445638 commented on #136
yes,I have aware of that,I have removed  logging with map,problem solved ,thanks!!

[2016-12-30 10:35] #136 closed

[2016-12-30 10:36] #134 closed

[2017-01-02 11:51] lwithers commented on #48
I've opened a PR with a proposal for more direct syslog support: https://github.com/cihub/seelog/pull/142

[2017-01-06 09:22] orange-jacky opened #143 "rollingfile lost log"
hi,dear
   I hava log.xml,

`<seelog type="adaptive" mininterval="1000" maxinterval="1000000" critmsgcount="100" minlevel="info">
`

    <outputs formatid="all">
        <filter levels="debug">
            <rollingfile type="date" filename="logs/debug/debug.log" datepattern="2006-01-02-15" maxrolls="240"/>
        </filter>
        <filter levels="info">
            <rollingfile type="date" filena

[2017-01-08 11:30] lwithers commented on #143
Hi,

I've been running this little test program overnight:

[code]

and I haven't hit any issues:

[code]

Is it at all possible that what you're seeing is the normal behaviour of the application? i.e. that some hours there were very few log entries relative to other hours?

Also, is it at all possible that you have two processes writing to the same set of files? That would almost certainly lead t

[2017-01-08 11:37] lwithers commented on #139
I guess from the port 25 that you are trying to use the SMTP writer?

It just sounds like something is not quite configured correctly — whether it's the port number (587 is more common than 25 for message submission), username/password or TLS settings I'm not sure. Judging from the error message it's more likely to be a port number or firewall issue. Can you manually talk to the server if you try

[2017-01-08 11:59] CodyGuo commented on #139
This library can be sent
https://github.com/go-gomail/gomail

[2017-01-08 15:32] lwithers commented on #139
From a quick search in the Go source code, the error message you are getting is from a Windows "connect to remote server" function. I'm not at all familiar with Windows, but as far as I can see this must mean that the IP address or port number is wrong. DNS for mail.aliyun.com points to the IP you gave, so that seems correct. I can't connect to either port 25 or 587 from my machine, however.

I ca

[2017-01-09 05:23] orange-jacky commented on #143
@lwithers    thanks for your reply. In fact, I create some goroutines to write the same info.log, can you tell me how to fix it ?

[2017-01-09 13:05] lwithers commented on #143
Just to confirm, I have been able to reproduce this issue when using multiple goroutines:

[code]

[code]

So, it seems to me that there must be a race condition in there somewhere. If I get a chance I'll take a closer look at the code and see if I can spot it.

[2017-01-09 21:11] lwithers commented on #143
OK, the problem is that `rollingFileWriter.Write()` is called concurrently in the different goroutines — and, since there's no mutex, multiple goroutines may decide to roll the file simultaneously.

The simple solution is to add a mutex to the `rollingFileWriter` struct and to lock it during `Write()`. It could be better for performance to test for and perform the file rolling asynchronously. I'll

[2017-01-10 05:09] orange-jacky commented on #143
@lwithers  thanks. i will wait for updating  it and apply it.
I have another issue, please hlep me check it.

in my another program, i configure log.xml as the over log.xml

`<seelog type="adaptive" mininterval="1000" maxinterval="1000000" critmsgcount="100" minlevel="info">
`

    <outputs formatid="all">
        <filter levels="debug">
            <rollingfile type="date" filename="logs/debug/de

[2017-01-10 09:44] #143 closed

[2017-02-02 11:42] vigneshr6 opened #145 "Log files get rotated for each log message"
I can't find any mistake in this code.But log file gets rotated for each log message.
Can you solve this?

`package main

import (
	log "github.com/cihub/seelog"
)

func main() {
	testConfig := `
<seelog>
	<outputs>    <filter levels="trace">
                <rollingfile formatid="main" type="size" filename="./logs/roll.log" maxsize="100" maxrolls="5" />
    </filter>
    <filter levels="info">

[2017-02-13 11:01] jeffie opened #146 "how to splite log file with regular time range?"
i want to split log files with regular time range,such as 15min/file.  files like this: a.log.201702130100,a.log.201702130115

[2017-02-20 07:57] qudongfang opened #147 "change log level at runtime"
i'd like to switch on some detailed log sometimes.
do you have the plan to implement this feature?

[2017-02-20 09:34] pkorotkov commented on #147
@qudongfang Does [this wiki section](https://github.com/cihub/seelog/wiki/Changing-config-on-the-fly#how-to-change-config-on-the-fly) work for you? Otherwise, please provide a snippet of your use case.

[2017-02-20 13:27] qudongfang commented on #147
actually, [i have already done some work on it today](https://github.com/cihub/seelog/pull/148).

my use case:

first, I have configed `seelog` using a config file.
[code]

then,i just want to change min or max log level for a while with a simple http api without restart my server or change the config file.

[code]

my seelog config file:

[code]

[2017-02-21 06:03] qudongfang commented on #147
@pkorotkov @goodsign
Would you guys consider accepting this [pull request](https://github.com/cihub/seelog/pull/148)?

[2017-02-21 15:09] pkorotkov commented on #147
@qudongfang, thanks for contribution! We will go through it soon.

[2017-02-24 12:13] lwithers commented on #145
The unit for `maxsize` is bytes — so this configuration is telling `seelog` to rotate every 100 bytes. This explains what you are seeing.

The docs for this are at https://github.com/cihub/seelog/wiki/Receiver-reference#rolling-file-writer-or-rotation-file-writer and you can see that `maxsize` configured in bytes there.

[2017-02-24 12:22] lwithers commented on #146
Take a look at the docs under https://github.com/cihub/seelog/wiki/Receiver-reference#rolling-file-writer-or-rotation-file-writer and in particular set `type` to `date` and view the docs of the `datepattern` attribute. I'm not sure that it lets you do 15 minute boundaries, due to the way it constructs the filenames, but you can certainly do 1-hour boundaries.

[2017-03-07 23:42] dungeonsnd opened #149 "How to log the original function name when using seelog wrap"
Hello,
Following is my seelog wrap. But i've not got the original  file name, line number, function name, etc.
We all know we can use macros in C/C++/Objective-C.  So is there any workaround for this by seelog or go language?
Thanks !

`

	[20170308 07:53:51.067 +08] [t] StartTcpServer enter.
	   [logwrap.go:48] [cacom/logwrap.V]

`

`

	package logwrap

	import (
		seelog "github.com/cihub/seelog

[2017-03-08 01:16] dungeonsnd commented on #149
I've read the source code of seelog. And i found that the seelog use runtime package to get the right  invoker function name.
But how can i directly wrap the seelog easily outside the source code?
We can easily replace the log implement maybe in the future if we find seelog if not fit us when using wrap.

`

    if runtime.Callers(skip+1, stack[:]) != 1 {
        return nil, errors.New("error  dur

[2017-03-08 01:34] dungeonsnd commented on #149
I've resolved this.

[2017-03-14 04:00] #149 closed, assigned to nobody

[2017-03-14 15:28] darasion opened #150 "line number (%Line) output is not right"
`git rev-parse HEAD` output is:
`f561c5e57575bb1e0a2167028b7339b3a8d16fb4`

`go version` output is:
```go version go1.8 linux/amd64```

my test code is (test.go):
[code]

but `go run test.go` output is:
[code]

[2017-04-19 22:23] lwithers commented on #150
I find the same, but this seems to be the line number returned by Go's standard library. Seelog is not introducing the off-by-one error. Perhaps this should be reported upstream?

[2017-05-03 10:12] gqlxj1987 commented on #146
if i would want to 15 minute boundaries, can there is some way to do this?

[2017-05-03 11:14] jeffie commented on #146
@gqlxj1987 it`s no api to support this feature in currtent version,i think you can split the file use the  extra shell

[2017-05-03 11:15] #146 closed, assigned to nobody

[2017-05-03 11:16] #150 closed, assigned to nobody

[2017-05-17 03:48] #145 closed, assigned to nobody

[2017-06-09 07:37] Anteoy opened #152 "can seelog push to kafka? or support some hook to implement this function?"
I what to send the log to kafka,anythings I can do ?

[2017-06-09 08:00] Anteoy commented on #152
I am trying to implement seelog.CustomReceiver...

[2017-06-22 02:17] #152 closed, assigned to nobody

[2017-07-06 08:07] EriconYu opened #153 "The line number printed in log is not correct"
The line number printed in log is not correct,eg:

[code]
Console prints :
[code]
but actual should be :
[code]

[2017-07-06 08:08] EriconYu commented on #153
xml content is :
[code]
go version is
[code]

[2017-07-06 11:22] antsbean commented on #153
that's true

[2017-07-07 01:52] EriconYu commented on #153
@hqy 为啥呢？实际应该是22，但是打印出来是23，我没搞明白是怎么个原因，是因为go版本升级了的问题吗

[2017-07-11 07:58] nelsonzhu opened #154 "should close file first"
iotest.go

func TempFile(t *testing.T) (*os.File, func()) {
	f, err := ioutil.TempFile("", "test")
	if err != nil {
		t.Fatal(err)
	}
	return f, func() {
		os.Remove(f.Name())
		f.Close()
	}
}

should be:
		f.Close()
		os.Remove(f.Name())

[2017-07-11 17:13] nelsonzhu commented on #153
func extractCallerInfo(skip int) (*logContext, error) {

var shortPath string
	pc, fullPath, line, ok := runtime.Caller(skip)
	if !ok {
		return nil, errors.New("error  during runtime.Callers")
	}

	// do we have a cache entry?
	stackCacheLock.RLock()
	ctx, ok := stackCache[pc]
	stackCacheLock.RUnlock()
	if ok {
		return ctx, nil
	}

[2017-09-18 08:14] Tovids opened #155 "How to print log to different files by process"

[2017-09-25 13:37] dblooman opened #156 "Use stderr instead of stdout"
Is it possible to change the default output from STDOUT to STDERR?

[2017-09-27 02:23] liguodong commented on #139
Cody, I'm not familiar with mail.aliyun.com, but we are using exmail.qq.com and I'm sure we have to use a ssl connection to port 465 without a caCert.

I guess aliyun doesn't support a plaintext transportation via port 25 neither, so you have to use a ssl connection to 587 or 465 (you can find or ask aliyun for support), but I don't know weather a caCert is required when sending email, if it's req

[2017-09-30 08:45] willkk opened #158 "%Time can only get seconds, is there any way I can get millisecond?"

[2017-11-01 02:47] spiderpoison opened #159 "How to change time local of rolling?"
for example, system timelocal is utc, but i want to rolling by utc+8

[2017-11-08 09:50] carl-leopard opened #160 "Seelog queue overflow: more than 10000 messages in the queue. Flushing."
短时间内产生大量的日志导致服务器崩溃

[2017-11-15 02:47] sullerandras opened #161 "Escape special characters in JSON and XML format"
I see that there is a [json format](https://github.com/cihub/seelog/blob/752ef646ce438bc649b2bb565188471879185c33/cfg_parser.go#L174), but it seems like special characters like double quote (`"`) and newline (`\n`) are not escaped in `Msg` so the result is an invalid json.
XML also has characters which should be escaped.
Is there a solution to this?

[2018-01-11 08:10] Anteoy commented on #161
I encountered the same problem, is there any solution?

[2018-01-15 20:42] jpadilla commented on #161
Just ran into this as well.

[2018-01-24 00:58] madiganz commented on #115
Not sure if people are still working on this, but I would like change the format for a specific file depending on the type.

For example:
[code]
would be applied to the same rolling log file. Info, Debug, and Warn would use default and Error would use error. Is this at all possible? The workaround would be to manually put the function in the message, but it would be a lot easier to use if I did no

[2018-02-09 01:53] seedjyh opened #162 "returns error 530 while opening configure file, and OK after touch the file"
# Appearance

## code
[code]

## output
[code]

## and...

When I touched the file seelog.xml such as
[code]
then there's no error any more. And it appeared next day.

[2018-04-23 10:21] timestee opened #163 "How to get stacktrace info by 'formats' config."
We catch recovers from panic, then log to sentry and console by config 'formats'. With sentry we could get stack trace info, but with console output,how to get the stack trace info? I don't want to call `runtime.Stack` again, but just want to get it from seelog.

[2018-05-07 02:58] carl-leopard commented on #133
<seelog type="asynctimer" asyncinterval="5000000" minlevel="debug" maxlevel="error">
    <outputs formatid="common">
        <rollingfile formatid="common" type="date" filename="./logs/dahttp_server.log" datepattern="2006-01-02" maxrolls="30"/>

        <filter levels="warn">
            <file path="./logs/business/warn.log"/>
        </filter>

        <filter levels="error,critical">

[2018-05-11 08:01] #160 closed, assigned to nobody

[2018-05-29 03:22] 1522140840 commented on #160
这个问题解决了吗？我昨天遇到了【cihub/seelog是新代码】

[2018-06-13 09:25] timestee commented on #161
Just ran into this as well. +1 ,should we escape  the msg by ourself?

Update, you could quote msg like:
[code]

[2018-07-01 08:40] noibar opened #164 "Enable date rolling files with max size"
Enable writing received messages to a file, until date changes, with specified size limit.
(write files: logs/log-2018-01-07.1,  logs/log-2018-01-07.2,  logs/log-2018-01-07.3, etc.)

[2018-08-09 06:24] Kurt-Shiwz commented on #153
line number still wrong

[2018-08-29 14:43] carl-leopard commented on #160
没有， 短时间产生大量的日志， 会导致日志丢失

[2018-11-28 12:00] hw-ces-telescope opened #165 "Rename file error and do not flush content in windows when two process configing one log file"
Hi,I am find that: Rename file error and do not flush content in windows when two process configing one log file

[2018-11-28 12:26] hw-ces-telescope commented on #165
\common.log.1: The process cannot access the file because it is being used by another process.

[2018-12-20 12:27] huaapp commented on #160
https://github.com/cihub/seelog/wiki/Logger-types

[2018-12-20 12:27] huaapp commented on #160
We've just recommended the rule for async timer's interval tuning: the average interval of message consuming should be less than the average interval of message producing.

Current log messages limit in the queue is 10000.

But how do you know whether you set it correct and unwanted flushes don't happen? This is pretty simple: Seelog will write a following message to the stdout (Seelog uses stdout

[2018-12-21 03:15] carl-leopard commented on #160
thanks.

[2019-01-08 11:09] lyp830414 opened #166 "It seems that seelog cannot work well under daemon process"
Hi, we found such problem for seelog, can anyone help us?

We did such actions:

               1.  We import the seelog in our main package
               2.  In our main() function, we did daemon() to let the father process exit itself, and the child process be as the new process to do the works.
               3. In the new process, we use such code:
                         logger, err := log.

[2019-03-01 11:37] zhangyishuo opened #168 "why can't change loglevel from high to low"
i add  func SetConstraints(constrains logLevelConstraints) logLevelConstraints  some code like
`

	commonLogger := Current.getCommonLogger()
	pkgOperationsMutex.Lock()
	defer pkgOperationsMutex.Unlock()

	last := commonLogger.config.Constraints

	commonLogger.config.Constraints = constrains
	commonLogger.unusedLevels = make([]bool, Off)
	commonLogger.fillUnusedLevels()

	return last
`
when i  init

[2019-03-04 03:37] hzxgo opened #169 "How to print log to different files by function"
seelog can print log to different files by different log type(eg: debug, info...), but I want print different function log to different log file, how can I  set the "seelog.xml" ?

[2019-03-05 03:17] 13482477 opened #171 "Why return the error in Warning and Error method?"
There are some problem with me. So, when i using the see.Error() and see.Warning method in IDEA, some message that   "unhandled message" in my eyes.I'm feel so bad.Can you tell me why return the error in these method. My be i can change it.

[2019-03-07 12:56] russmack commented on #171
Project looks abandoned.  No life in two years.

[2019-03-20 11:49] zhangyishuo commented on #168
I find the reason is Current.commonLogger.unusedLevels not change by my function

[2019-03-20 11:49] #168 closed, assigned to nobody

[2019-06-06 03:38] beibeiabeibei opened #172 "bus error"
my program is running in K8S,and  it core dump   once a week to three weeks.

[code]

[code]

[2019-08-25 00:01] #163 closed, assigned to nobody

[2019-09-08 03:53] skydroplet commented on #158
%Date(2006-01-02 15:04:05.000) use golang date format

[2019-09-08 04:00] skydroplet commented on #153
use tag v2.6, don't use the master, v2.6 is correct

[2019-09-24 13:38] bestwu commented on #100
use chcp 65001 code page , throw following warnings -

seelog internal error: write /dev/stdout: A device attached to the system is not
 functioning.

[2019-10-14 12:31] gtchaos opened #173 "iotest_test.go unit test failture"
func TestTempFile(t *testing.T) {
	f, cleanup := TempFile(t)
	if _, err := f.Write([]byte("test")); err != nil {
		t.Fatalf("temp file not writable: %v", err)
	}
        cleanup()
	// Confirm closed
	if err := f.Close(); err != syscall.EINVAL {
		t.Errorf("temp file was not closed by cleanup func")
	}

-------------------------------------

if call file.Close() again, it probably return error "fil

[2019-10-22 07:01] orange-jacky opened #174 "seelog can't use as a writer, can you support it"
in my project, some log output to a writer, i hope to  seelog can use as a writer, can you develop it?
hope your support

[2020-04-02 02:29] yuyuisjia opened #175 "seelog cannot print interface{}，even if I assign a value to the interface{}"
It cannot work like this---
var i interface{}
var s []string = []string{"a", "b"}
i = s
log.Infof("%T, %v", i, i)

[2020-06-18 17:52] #156 closed, assigned to nobody

[2020-07-01 14:54] tuliyao opened #176 "Does using linked lists to store logs affect performance"
Does using linked lists to store logs affect performance

[2020-07-02 13:11] tuliyao opened #177 "Can add a function to set call depth?"
Can add a function to set call depth?

[2020-07-03 14:56] #177 closed, assigned to nobody

[2020-07-03 14:56] #176 closed, assigned to nobody

[2020-12-13 20:31] gormatoobay opened #178 "No Sharing parameter in XML. Assuming sharing false"
I am trying to configure two identical custom CloudWatch receivers, one to write errors to a log stream, the second instance writes all log entries to a second log stream.  The output I get from seelog at start up is "No Sharing parameter in XML. Assuming sharing false" - Wiki does not mention "sharing parameter" - can details be added to Wiki so I know syntax to turn sharing to "true"?

[2021-04-21 14:49] be-water-myFriend opened #179 "if gosnmp.Default.Logger is nil, the application will crash"
version:   github.com/gosnmp/gosnmp v1.31.0
![image](https://user-images.githubusercontent.com/13702789/115574020-d6d57c80-a2f3-11eb-9788-bf7f195815b0.png)

[2021-04-23 08:48] #179 closed, assigned to nobody

[2022-01-09 08:45] tanght1994 opened #180 "Why is the pkgOperationsMutex a sync.Mutex instead of a sync.RWMutex?"
The var pkgOperationsMutex  in the log.go, Use sync.RWMutex to replace the sync.Mutex can Improve the performance
![1](https://user-images.githubusercontent.com/52164360/148675477-feb2f39d-5d6c-41f5-bb7b-2edb755246ad.png)
.

[2022-01-09 08:49] tanght1994 commented on #180
Can i push a request to fix that? I'm using github for the first time, so I'm afraid to commit request.

[2022-08-04 14:17] major opened #181 "Test failure: TestCustomFormatterRegistration"
go version: `go version go1.18.5 linux/amd64`

[code]